@font-face {
    font-family: 'MyriadPro-Cond';
    src: url('../fonts/MyriadPro_Cond/MyriadPro-Cond.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro_Cond/MyriadPro-Cond.otf')  format('opentype'),
    url('../fonts/MyriadPro_Cond/MyriadPro-Cond.woff') format('woff'), url('../fonts/MyriadPro_Cond/MyriadPro-Cond.ttf')  format('truetype'), url('../fonts/MyriadPro_Cond/MyriadPro-Cond.svg#MyriadPro-Cond') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'MyriadPro-Regular';
    src: url('../fonts/MyriadPro_Regular/MyriadPro-Regular.eot?#iefix') format('embedded-opentype'),  url('../fonts/MyriadPro_Regular/MyriadPro-Regular.otf')  format('opentype'),
    url('../fonts/MyriadPro_Regular/MyriadPro-Regular.woff') format('woff'), url('../fonts/MyriadPro_Regular/MyriadPro-Regular.ttf')  format('truetype'), url('../fonts/MyriadPro_Regular/MyriadPro-Regular.svg#MyriadPro-Regular') format('svg');
    font-weight: normal;
    font-style: normal;
}

