@import "uikit"
@import "variables"

html, body
  margin: 0
  padding: 0
  font-family: $font-cond
  font-size: 24px
  line-height: 1
  height: 100%

.wrapper
  display: flex
  flex-direction: column
  height: 100%

.content
  flex: 1 0 auto

.footer
  flex: 0 0 auto

a
  color: #000000
  text-decoration: none

a:hover
  color: $active-color

h2
  font-size: 24px
  color: $active-color
  font-weight: 400
  padding-bottom: 0px
  margin-bottom: 10px
  text-transform: uppercase

header
  background: #ffffff
  z-index: 1000
  font-size: 24px
  .uk-navbar-left
    padding-left: 18px
  .uk-navbar-right
    .uk-navbar-item
      padding-right: 46px
      color: #000000
      span
        padding-top: 5px
      &:hover
        color: $active-color
  .logo
    font-family: $font-regular
    .logo_img_link
      display: block
      height: 53px
      img
        height: 53px
    .logo_text_link
      padding-left: 8px
      padding-top: 5px
      display: block
  .uk-navbar-item
    font-size: 24px
    font-family: $font-cond
  .uk-navbar-nav
    > li > a
        padding: 21px 44px 15px 44px
        color: #000000
        font-size: 24px
        font-family: $font-cond
        &.uk-open, &:hover
          color: $active-color
    .uk-dropdown
      box-shadow: 0 5px 12px rgba(0,0,0,0.15)
      background: #ffffff
      text-align: center
      min-width: 100px
    .uk-dropdown-nav > li > a
      color: #000000
      padding: 10px 0
    .uk-dropdown-nav > li > a:hover
      color: $active-color

.category_grid
  .title
    margin: 40px
    color: #ffffff
    text-shadow: 2.5px 4.33px 10px rgba(0, 0, 0, 0.75)
    font-family: $font-regular
  a
    text-decoration: none
    display: block
    &:hover .overlay
      opacity: 0.2
      transition: opacity 0.4s
  .overlay
    height: 100%
    width: 100%
    background-color: #ffffff
    opacity: 0

.index_title p
  padding: 0 40px

footer
  padding: 46px 60px
  .footer_link
    .item
      position: relative
      .circle
        position: absolute
        widtH: 5px
        height: 5px
        border-radius: 50%
        background-color: #000000
        border: 1px solid #000000
        display: inline-block
        left: 15px
        top: 50%
        margin-top: -5px

.job
  height: 730px
  background: #eeeeee
  text-align: center
  .item
    height: 730px
  img
    max-width: 100%
    max-height: 100%

.avatar
  width: 220px
  height: 220px

.contact_left_column
  padding-left: 41px