<template>
    <div class="item uk-flex uk-flex-middle uk-grid uk-grid-small"
         v-bind:class="{edit: item.edit}"
    >
        <div><i class="fas fa-arrows-alt-v"></i></div>
        <div @click="setEditItem">
            <i class="fas fa-edit"></i>
        </div>
        <div><span>{{ item.name }}</span></div>
        <div class="uk-text-right uk-width-expand">
            <button type="button"
                    class="uk-button uk-button-default uk-button-small"
                    @click="item.action = 'delete'"
            >
                <i class="fas fa-times"></i>
            </button>
        </div>
    </div>
</template>

<style>
    .item.edit {
        background: #f1f1f1;
    }
</style>

<script>
  export default {
    name: 'item',
    props: ['item', 'setEditItem'],
    methods: {
      deleteItem () {
        this.$emit('delete-item')
      }
    }
  }
</script>