<template>
    <div class="uk-grid uk-child-width-1-2">
        <div>
            <draggable
                    v-model="menu.items"
                    :options="{group: 'menu'}"
                    class="items uk-margin-bottom"
            >
                <div v-for="(item, index) in menu.items">
                    <item
                            v-if="item.action !== 'delete'"
                            :item="item"
                            v-bind:setEditItem="() => {setEditItem(item)}"
                    >

                    </item>
                    <draggable
                            v-model="item.children"
                            :options="{group: 'children'}"
                            class="uk-margin-small-left children"
                            v-if="item.action !== 'delete'"
                    >
                        <div v-for="(child, indexChild) in item.children" class="child">
                            <item
                                    v-if="child.action !== 'delete'"
                                    :item="child"
                                    v-bind:setEditItem="() => {setEditItem(child)}"
                            >
                            </item>
                        </div>
                    </draggable>
                </div>
            </draggable>

            <button type="button"
                    class="uk-button uk-button-default uk-width-1-1 uk-margin-bottom"
                    @click="addItem"
            >
                add new item
            </button>

            <button type="button"
                    class="uk-button uk-button-primary uk-width-1-1"
                    @click="save">
                save

            </button>
        </div>
        <div v-if="itemEdited && itemEdited.action !== 'delete'">
            <input class="uk-input uk-margin-bottom"
                   v-model="itemEdited.name"
                   placeholder="name"
            >


            <div class="uk-margin-bottom">
                <template v-if="imageUrl">
                    <img v-bind:src="imageUrl" class="uk-margin-bottom uk-width-1-1">

                    <div class="uk-margin-bottom">
                        <div class="uk-grid uk-grid-small">
                            <div>
                                <label>
                                    Show on main page:
                                    <input class="uk-checkbox" type="checkbox" v-model="itemEdited.show_on_main">
                                </label>
                            </div>
                            <div>

                                <div class="uk-grid uk-grid-small">
                                    <div> Weight:</div>
                                    <div><input class="uk-input" type="text" v-model="itemEdited.weight_in_bar"></div>
                                </div>

                            </div>
                        </div>
                    </div>

                    <button class="uk-button uk-button-default uk-width-1-1"
                            type="button"
                            @click="itemEdited.image.action = 'delete'"
                    >
                        Delete image
                    </button>
                </template>

                <template v-else>
                    <div uk-form-custom class="uk-width-1-1" v-if="!uploadProcess">
                        <input type="file" @change="uploadImage($event)">
                        <button class="uk-button uk-button-default uk-width-1-1"
                                type="button"
                                tabindex="-1">
                            Upload image
                        </button>
                    </div>
                    <div class="uk-width-1-1 uk-text-center" v-else>
                        <div uk-spinner></div>
                    </div>
                </template>
            </div>

            <button type="button"
                    class="uk-button uk-button-default uk-width-1-1"
                    @click="addChildItem"
                    v-if="typeof (itemEdited.children) !== 'undefined'"
            >
                add new child item
            </button>
        </div>


    </div>
</template>

<script>
  import draggable from 'vuedraggable'
  import Item from './item'
  import VueResource from 'vue-resource'

  Vue.use(VueResource)

  export default {
    name: 'menu-category',
    props: ['menu'],
    components: { draggable, Item },
    methods: {
      addItem () {
        this.add(this.menu.items, false)
      },
      addChildItem () {
        this.add(this.itemEdited.children, true)
      },
      add (parentItem, children) {
        let newItem = { name: 'new item', action: 'new', image: null, show_on_main: false }

        if (!children) {
          newItem.children = []
        }

        parentItem.push(newItem)
      },
      setEditItem (item) {
        if (this.itemEdited) {
          this.itemEdited.edit = false
        }

        this.itemEdited = item
        this.itemEdited.edit = true
      },
      uploadImage ($event) {
        let formData = new FormData()
        formData.append('image', $event.target.files[0])
        formData.append('_token', tokenLaravel)
        this.uploadProcess = true

        this.$http.post('/admin/category/upload-image', formData).then(response => {
          this.itemEdited.image = {
            action: 'new',
            name: response.data
          }
          this.uploadProcess = false
        })
      },
      save () {
        this.$http.post('/admin/category/save', {
          categories: this.menu.items,
          _token: tokenLaravel
        }).then(response => {
          if (response.body.msg == 'ok') {
            this.menu.items = response.body.categories
            this.itemEdited = null
            Uikit.notification('Category saved!')
          }
        })
      }
    },
    computed: {
      imageUrl: function () {
        let url = null
        let image = this.itemEdited.image

        if (image) {
          if (image.action === 'new') {
            url = 'tmp'
          }

          if (image.action === 'old') {
            url = 'categories'
          }

          if (url) {
            url = '/storage/images/' + url + '/' + image.name
          }
        }

        return url
      }
    },
    data: function () {
      return {
        itemEdited: null,
        uploadProcess: false
      }
    }
  }
</script>