@import "~uikit/src/scss/mixins-theme"
@import "~uikit/src/scss/variables-theme"
@import "~uikit/src/scss/uikit-theme"
@import "~@fortawesome/fontawesome-free/scss/fontawesome"
@import "~@fortawesome/fontawesome-free/scss/fa-regular"
@import "~@fortawesome/fontawesome-free/scss/fa-solid"

#category_menu
  span
    font-size: 20px
  .item
    border-bottom: 1px solid #e5e5e5
    padding: 5px
  .children
    min-height: 20px
